<div class="container" id="cartInfo">
  {{#if cart.products.length}}
    <h1>Cart ID <span id="cid">{{cart._id}}</span></h1>
    {{#each cart.products}}
      <div class="cartItem" id="cart-{{this.product._id}}">
      <div class="image"><img src="{{this.product.thumbnails.[0]}}" /></div>
      <div class="title">{{this.product.title}}</div>
      <div class="price">$ {{this.product.price}}</div>
      <div class="quantity">
        <div class="buttons">
          <div class="itemBtn" id="minusBtn" onclick="substractOne('{{this.product._id}}')">-</div>
          <div class="itemQ" id="quantity-{{this.product._id}}">{{this.quantity}}</div>
          <div class="itemBtn" id="plusBtn" onclick="addOne('{{this.product._id}}')">+</div>
        </div>
      </div>
      <div class="remove" onclick="removeProd('{{this.product._id}}')">[Remove]</div>
      </div>
    {{/each}}
  {{else}}
  <h2 id="empty-cart">Your cart is empty...</h2><h1><a href="http://localhost:8080/products">Go shopping!</a></h1>
  {{/if}}
</div>
{{#if cart.products.length}}
<div class="btn btn-success" id="checkout">Checkout</div>
{{/if}}
<script src="/js/cart.js"></script>