<div class="container" id="products">
  {{#each response.payload}}
    <div class="card" style="width: 15rem;" onclick="redirect('{{this._id}}')">
        {{#if this.thumbnails.length}}
        <img src="{{this.thumbnails.[0]}}" class="card-img-top" alt="..." />
        {{else}}
        <img src="https://placehold.co/200x200" class="card-img-top" alt="..." />
        {{/if}}
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">$ {{this.price}}</p>
        </div>
    </div>
  {{/each}}
</div>
<script src="/js/products.js"></script>